spring:
  application:
    name: authorization-service

  datasource:
    url: jdbc:mysql://credentials_db:3306/credentials_db
    username: credentials_user
    password: credentials_pass
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  rabbitmq:
    host: synchronization-broker
    port: 5672
    username: rabbitmq_user
    password: rabbitmq_pass
    listener:
      simple:
        retry:
          enabled: true
          initial-interval: 3000
          max-attempts: 3
          multiplier: 2
        default-requeue-rejected: false
      template:
        retry:
          enabled: true
          initial-interval: 1000
          max-attempts: 3
          multiplier: 2

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}

server:
  port: 8083